<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<!-- Font Awesome -->
		<link
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/> <!-- Google Fonts -->
		<link
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
		<!-- MDB -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{  asset('css/site.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-light opaque-navbar initial-navbar" >
      <div class="container-fluid">
        <button
          data-mdb-collapse-init
          class="navbar-toggler"
          type="button"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <img
              src="//upload.wikimedia.org/wikipedia/fr/thumb/4/42/World_of_Warcraft_Shadowlands_Logo.png/800px-World_of_Warcraft_Shadowlands_Logo.png?20191102062218"
              height="50 "
              alt="world of warcraft Logo"
              loading="lazy"
            />
          </a>
    
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Projects</a>
            </li>
          </ul>
    
          <div class="dropdown">
            <a
              data-mdb-dropdown-init
              class="dropdown-toggle d-flex align-items-center hidden-arrow"
              href="#"
              id="navbarDropdownMenuAvatar"
              role="button"
              aria-expanded="false"
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                class="rounded-circle"
                height="25"
                alt="Black and White Portrait of a Man"
                loading="lazy"
              />
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuAvatar"
            >
              <li>
                <a class="dropdown-item" href="#">My profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Settings</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    </header>
		{% block body %}{% endblock %}

    <footer class="bg-ligh text-dark mt-5 py-5">
      <div class="container-fluid py-5">
          <div class="row py-5">
              <!-- Colonne pour le logo ou le texte du footer -->
              <div class="col-md-6 text-center">
                  <h5 class="mb-4 py-5">Votre Logo ou Texte ici</h5>
                  <p>Une description courte du contenu du footer.</p>
              </div>
  
              <!-- Colonne pour les liens de navigation ou autres éléments -->
              <div class="col-md-3 text-center py-5">
                  <h5 class="mb-4">Liens rapides</h5>
                  <ul class="list-unstyled py-2">
                      <li><a href="#">Accueil</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Contact</a></li>
                  </ul>
              </div>
  
              <!-- Colonne pour les informations de contact ou autres éléments -->
              <div class="col-md-3 text-center py-5">
                  <h5 class="mb-4 py-2">Contact</h5>
                  <p>
                      Adresse<br>
                      Ville, Pays<br>
                      <a href="mailto:info@example.com">info@example.com</a>
                  </p>
              </div>
          </div>
      </div>
  </footer>

    <script src="{{ asset('js/site.js') }}" defer></script>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"></script>
	</body>
</html>
